services:
  db:
    image: mariadb:10.11
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  omeka:
    build:
      context: ./omeka
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: 3306
      OMEKA_ADMIN_EMAIL: ${OMEKA_ADMIN_EMAIL}
      OMEKA_ADMIN_PASSWORD: ${OMEKA_ADMIN_PASSWORD}
      OMEKA_SITE_TITLE: ${OMEKA_SITE_TITLE}
      OMEKA_TIMEZONE: ${OMEKA_TIMEZONE}
    volumes:
      - omeka_data:/var/www/html/volume
      - ../:/var/www/html/volume/themes/omeka-scopus-theme
      - ./data:/data

volumes:
  db_data:
  omeka_data:
