.menu-drawer {
    display: block !important;
    position: fixed;
    height: calc( 100% - #{$header-min-height} );
    width: 100%;
    transform: translateX( -100% );
    z-index: 23;
    top: $header-min-height;
    inset-inline-start: 0;
    background-color: $color__menu-drawer;
    overflow-x: hidden;
    transition: all 0.3s ease-out;
    visibility: hidden;

    @media screen and (min-width: $lg) {
        transform: translateX( -100% ) !important;
    }

    > .wrap {
        margin-inline-start: auto;
        margin-inline-end: auto;
        max-width: $wrap-max-width;

        display: block;
        padding: 0;
        text-align: end;
    }

    &.toggled {
        transform: translateX( 0 );
        visibility: visible;
    }

    .navigation-controls {
        border-bottom: 1px solid $color__gray-60;
        background-color: $color__gray-93;
        font-size: 1.1rem;
        text-align: start;

        a {
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-inline-start: 4rem;
            // Force navigation anchors to inherit color
            color: inherit !important;
            text-decoration: none;

            &::before {
                width: 26px;
                height: 26px;
                position: absolute;
                inset-inline-start: 1.5rem;
                content: '';
                background-image: url(../img/chevron-right-thin.svg);
                background-repeat: no-repeat;
                filter: brightness(0.4);
                background-position: center;
                background-size: contain;
                transition: all 0.1s ease-in;
                transform: rotate(180deg);
            }
        }
    }

    .menu-container {
        max-width: none;
        width: 100%;
        transition: all 0.25s ease-in-out;

        ul {
            list-style: none;
            margin-inline-start: 0;
            padding-inline-start: 0;
            padding-bottom: 20px;
        }
    
        li {
            position: static;
            padding-inline-start: 15px;
            padding-inline-end: 15px;

            &.active {
                background-color: $color__primary;

                > a {
                    font-weight: bold;
                }
            }

            &::before {
                content: none !important;
            }
        }
    
        a {
            display: block;
            border-bottom: 1px solid $color__gray-60;
            color: $color__secondary-contrast;
            padding: 1rem;
            text-align: start;
            text-decoration: none;
    
            &:hover {
                text-decoration: none;
            }
        }

        .navigation {
            margin-bottom: 1rem;
            display: block;

            ul {
                display: none;
                position: static;
                width: 100%;
                box-shadow: none;
                border: 0;

                ul {
                    background-color: transparent;
                }

                li {
                    // Position `.sub-menu .menu-item` as static so tertiary sub-menus are positioned properly
                    position: static;

                    &::before {
                        content: none !important;
                    }
                }
            }

            .expanded {
                & > ul {
                    display: block;
                    position: absolute;
                    top: 0;
                    inset-inline-start: 100%;
                }
            }
        }
    }

    .menu-item-has-children {
        > a {
            &::after {
                content: "";
                background-image: url(../img/chevron-right-thin.svg);
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: contain;
                height: 26px;
                position: absolute;
                inset-inline-end: 1rem;
                transition: all .1s ease-in;
                width: 26px;
            }
        }

        li:not(.menu-header) {
            padding-inline-start: 2rem;
        }
    }

    .menu-header {
        border-bottom: 1px solid #999;

        a {
            border-bottom: none;
            font-weight: bold;
        }
    }
}

// Reduce to a single scroll bar when browsing the .menu-drawer
body {
    &.menu-drawer-toggled {
        overflow-y: hidden;
    }
}
