.toc-block {

    > ul {
        border-inline-start: none !important;

        > li {
            margin-bottom: 2rem !important;

            &:before {
                @include font-awesome;
                content: "\f054" !important;
                display: inline-block;
                font-weight: 600;
                font-size: .75rem;
                color: $color__primary;
                margin-inline-end: 15px;
            }
        
            > a {
                font-weight: 600 !important;
                font-size: 1.125rem;
                margin-bottom: 0.5rem;
                display: inline-block;
            }

        }

        ul {
            > li {
                margin-bottom: 0.3rem;

                &:before {
                    @include font-awesome;
                    content: "\f111" !important;
                    font-weight: 600;
                    font-size: .4rem;
                    color: $color__primary !important;
                    margin-inline-end: 15px;
                }
    
            }
        }
        
    }
    
}
