.uri-dereferencer {
    &-toggle,
    &-fetch {
        margin-inline-start: 0.5rem;
    }

    &-markup {
        border: 1px solid $color__hr;
        padding: 0.5rem 0.8rem;
        margin-top: 0.5rem;
    }

    &-fetch + &-toggle + &-markup {
        display: none;
    }
}
