.alignleft {
    /*rtl:ignore*/
    float: inline-start;

    /*rtl:ignore*/
    margin-inline-end: 1.5rem;
    margin-bottom: 1.5rem;
}

.alignright {
    /*rtl:ignore*/
    float: inline-end;

    /*rtl:ignore*/
    margin-inline-start: 1.5rem;
    margin-bottom: 1.5rem;
}

.aligncenter {
    clear: both;
    @include center-block;
    margin-bottom: 1.5em;
}

.alignfull {
    margin: 0 0 1.5rem;
    max-width: 100%;
}

.alignwide {
    margin: 0 calc(25% - 25vw) 1.5rem;
    max-width: 100vw;
}

.alignnarrow {
    @include center-block;
    max-width: 1024px;
    width: 100%;
}

.textleft {
    text-align: start;
}

.textright {
    text-align: end;
}

.textcenter {
    text-align: center;
}
