.carousel-block {
    padding-inline-start: 45px;
    padding-inline-end: 45px;

    .slick-arrow {
        border: 1px solid $color__hr;
        border-radius: 50%;
        height: 40px;
        width: 40px;

        &:hover {
            //background-color: transparent;

            .slick-prev-icon,
            .slick-next-icon {
                &::before {
                    color: $color__white;
                }
            }
        }

        &.slick-next {
            padding-inline-start: 3px;
            inset-inline-end: -45px;
        }

        &.slick-prev {
            padding-inline-end: 3px;
            inset-inline-start: -45px;
        }

        .slick-prev-icon,
        .slick-next-icon {
            &::before {
                @include font-awesome;
                color: $color__buttons;
                font-size: 25px;
                line-height: 1;
                transition: color 0.3s ease;
            }
        }

        .slick-prev-icon {
            &::before {
                content: "\f053";
            }
        }

        .slick-next-icon {
            &::before {
                content: "\f054";
            }
        }
    }

    .slick-dots {
        button {
            &:hover {
                background-color: transparent;
            }
        }
    }
}
