body.user-bar #user-bar {
    gap: 15px;
    background-color: $color__secondary !important;
    color: $color__secondary-contrast !important;
    border-bottom: 1px solid $color__secondary-dark !important;
    padding: 8px 24px !important;

    a {
        display: block;
        color: $color__secondary-contrast !important;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        @media(min-width: $lg) {
            display: initial;
        }
    }

    .site-links {
        width: 60%;

        a {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100%);

            @media(min-width: $lg) {
                overflow: initial;
                white-space: initial;
                width: auto;
            }
        }

        .admin {
            &::after {
                content: none !important;

                @media(min-width: $lg) {
                    content: ">" !important;
                }
            }

            &:last-child::after {
                content: none !important;
            }
        }
    }

    .user-links {
        width: 40%;
        text-align: end;

        .logout {
            margin-left: 0;
            margin-top: 15px;
            padding: 6px 10px;
            text-decoration: none;
            border-radius: $radius__pill;
            background-color: rgba($color__white, 0.12);
            border: 1px solid rgba($color__white, 0.2);

            @media(min-width: $lg) {
                margin-left: 12px;
                margin-top: 0;
                padding: 0 6px;
            }
        }
    }
}
