.metadata {
    width: 100%;

    @media (min-width: $md) {
        width: auto;
    }

    > div:not(:last-child),
    .media-render:not(:last-child) {
        margin-bottom: 2rem;
    }

    .media-render > * {
        max-width: 100%;
    }

    dl {
        margin-top: 0;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        > .property {
            margin-bottom: 1.25rem;

            &::after {
                content: "";
                display: table;
                clear: both;
            }
    
            dt {
                line-height: 1.2;
                margin-bottom: 0.5rem;
                padding-inline-end: 15px;
                word-wrap: break-word;

                &:not(.sidebar-region &) {
                    @media (min-width: $md) {
                        margin-bottom: 0;
                        float: inline-start;
                        width: 170px;
                    }
                }

                .field-term {
                    font-size: $font__sm-size;
                    font-weight: 500;
                }
            }
    
            dd {
                margin: 0 0 1rem;
                word-break: break-word;
                overflow-wrap: anywhere;
                white-space: normal;
                align-items: flex-start;

                &:not(.sidebar-region &) {
                    @media (min-width: $md) {
                        margin-inline-start: 170px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            .language {
                margin-inline-end: 5px;
            }

            &.collapsible-property {
                summary {
                    display: inline-flex;
                    align-items: center;
                    color: $color__headings;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.2;
                    margin-bottom: 0.5rem;
                    padding-inline-end: 15px;
                    word-wrap: break-word;
                    cursor: pointer;
                    list-style: none;
                    
                    @media (min-width: $md) {
                        font-size: 1.125rem;
                    }

                    &::-webkit-details-marker {
                        display: none;
                    }

                    &::after {
                        @include font-awesome;
                        content: "\f054";
                        font-size: 0.6rem;
                        margin-inline-start: 8px;
                        transition: transform 0.2s ease;
                        display: inline-block;
                    }

                    .field-term {
                        font-size: $font__sm-size;
                        font-weight: 500;
                    }
                }

                details[open] > summary::after {
                    transform: rotate(90deg);
                }

                dd {
                    @media (min-width: $md) {
                        margin-inline-start: 0;
                    }
                }

            }
        }
    }

    .value.resource {
        .resource-link {
            display: inline-flex;
            align-items: center;
        }

        img {
            flex-shrink: 0;
            height: 60px;
            margin-inline-end: 1rem;
            object-fit: cover;
            width: 60px;
        }
    }

    .media-list {
        dd {
            border: 1px solid $color__hr;
            margin-bottom: 1rem !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        .resource-link {
            display: flex;
            align-items: center;

            img {
                flex-shrink: 0;
                height: 100px;
                object-fit: cover;
                width: 100px;
            }

            .resource-name {
                padding: 1rem;
            }
        }
    }
}
