.resource-grid {
	list-style: none;
    padding-inline-start: 0;
    position: relative;

    .resource {
        background-color: $color__white;
        border: $color__hr;
        box-shadow: 0px 1px 6px rgba($color__black, 0.25);
        position: absolute;
        left: 0;
        top: 0;

        &::before {
            content: none !important;
        }

        &__thumbnail {
            line-height: 1;

            img {
                max-height: 324px;
                object-fit: cover;
                width: 100%;
            }
        }

        &__content {
            padding: 15px;
        }

        &__meta {
            padding: 5px 10px;
        }
    }
}
