body.search {
    .results {
        max-width: 1160px;
        margin-inline-start: auto;
        margin-inline-end: auto;
        margin-bottom: 40px;

        .resource__content {
            display: flex;
            align-items: center;
        }
    }
}
